{{ 'custom-card-grid.css' | asset_url | stylesheet_tag }}


<div class="custom-card-grid color-{{ section.settings.color_scheme }}" style="background-image:url({{ section.settings.background_image | image_url }})">
  {%- for block in section.blocks -%}
      <div class="card">
        <div class="card-content">
          <a href="{{ block.settings.card_link }}">
            <img src="{{ block.settings.card_image | image_url }}" class="card-img" />
            <div class="card-name-container">
              <h2 class="card-name">{{ block.settings.card_name }}</h2>
            </div>
          </a>
        </div>
      </div>
    {%- endfor -%}

</div>

{% schema %}
  {
    "name": "Custom Card Collection",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "range",
        "id": "cards_to_show",
        "min": 2,
        "max": 12,
        "step": 1,
        "default": 4,
        "label": "cards to show"
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Banner Image"
      },
      {
        "type": "image_picker",
        "id": "background_logo",
        "label": "Banner logo"
      },
      {
        "type": "image_picker",
        "id": "background_team",
        "label": "Banner team"
      }
    ],
    "blocks": [
      {
        "name": "Slide",
        "type": "grid",
        "settings": [
          {
            "type": "image_picker",
            "id": "card_image",
            "label": "Image"
          }, {
            "type": "text",
            "id": "card_name",
            "default": "Slide title",
            "label": "Slide Title"
          }, {
            "type": "url",
            "id": "card_link",
            "label": "Slide Url"
          }
        ]
      }

    ],
    "presets": [
      {
        "name": "Custom Banner Slide",
        "blocks": [
          {
            "type": "grid"
          }
        ]
      }
    ]
  }
{% endschema %}
