{{ 'custom-card-collection.css' | asset_url | stylesheet_tag }}


<div class="custom-card-collection color-{{ section.settings.color_scheme }}" style="background-image:url({{ section.settings.background_image | image_url }})">

  <!-- Slider main container -->
  <div class="swiper-wrapper">
    <div class="swiper custom-card-collection-swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        {%- for block in section.blocks -%}
          <div class="swiper-slide">
            <div class="swiper-slide-content">
              <a href="{{ block.settings.link }}">
                <div class="bg-overlay"></div>
                <img src="{{ block.settings.image | image_url }}" class="swiper-slide-img" />
                <div class="swiper-slide-title-container">
                  <h2 class="swiper-slide-title">{{ block.settings.heading }}</h2>
                </div>
              </a>
            </div>
          </div>
        {%- endfor -%}
      </div>
  
      <div class="swiper-nav-view-container">
        {%- if section.settings.show_view_all and more_in_collection -%}
          <div class="swiper-view-all">
            <a href="" class="swiper-view-all-text">
              View All
            </a>
          </div>
        {%- endif -%}
      </div>
  
    </div>
    <div class="swiper-pagination"></div>
    <!-- If we need navigation buttons -->
    <div class="swiper-navigation-buttons">
      <div class="swiper-custom-button-prev">
        <img src="https://cdn.shopify.com/s/files/1/0662/0571/2618/files/card-collection-arrow.svg?v=1671664229">
      </div>
    </div>
  </div>

</div>

{% schema %}
  {
    "name": "Custom Card Collection",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "range",
        "id": "cards_to_show",
        "min": 2,
        "max": 12,
        "step": 1,
        "default": 4,
        "label": "cards to show"
      }
    ],
    "blocks": [
      {
        "name": "Slide",
        "type": "slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }, {
            "type": "text",
            "id": "heading",
            "default": "Slide title",
            "label": "Slide Title"
          }, {
            "type": "url",
            "id": "link",
            "label": "Slide Url"
          }
        ]
      }

    ],
    "presets": [
      {
        "name": "Custom Card Collection",
        "blocks": [
          {
            "type": "slide"
          }
        ]
      }
    ]
  }
{% endschema %}

<script>
  $(document).ready(function() {
    const swiper = new Swiper('.swiper.custom-card-collection-swiper', {
      slidesPerView: 2,
      spaceBetween: 20,
      reverseDirection:false,
      loop: true,
      pagination: {
        el: '.swiper-pagination'
      },
      navigation: {
        nextEl: '.custom-card-collection .swiper-custom-button-next',
        prevEl: '.custom-card-collection .swiper-custom-button-prev'
      },
      breakpoints: {
        750: {
          slidesPerView: 'auto',
          spaceBetween: 50,
          initialSlide: $('.swiper-slide').length - 1
        }
      }
    })

    swiper.on('slideChange', function() {
      console.log('slide changed');
      $('.custom-card-collection .swiper-navigation-buttons')
        .find('.arrow-enabled')
        .css({'display': 'block'})
        $('.custom-card-collection .swiper-navigation-buttons')
        .find('.arrow-disabled')
        .css({'display': 'none'})
      $('.custom-card-collection .swiper-button-disabled')
      .find('.arrow-enabled')
      .css({'display': 'none'})
    $('.custom-card-collection .swiper-button-disabled')
    .find('.arrow-disabled')
    .css({'display': 'block'})
});})
</script>