{{ 'custom-card-grid.css' | asset_url | stylesheet_tag }}


<div class="custom-card-grid color-{{ section.settings.color_scheme }}" 
  style="background-image: 
  url(https://cdn.shopify.com/s/files/1/0662/0571/2618/files/upper-grid-bg.svg?v=1674164152),
  url(https://cdn.shopify.com/s/files/1/0662/0571/2618/files/bottom-grid-bg.svg?v=1674164152);
  background-repeat: no-repeat;
  background-position: bottom right, top left;">
  <div class="wrapper">
  {%- for block in section.blocks -%}
    <div class="card-tile">
      <div class="card">
        <div class="card-arrow"></div>
        <div class="card-wrapper">
          <div class="card-content">
            <a href="{{ block.settings.card_link }}">
              <img src="https://via.placeholder.com/366x506" class="card-img" style="opacity:0;" />
              <img src="{{ block.settings.card_image | image_url }}" class="card-img" style="postion:absolute;top:0;left:0;"/>
              <div class="card-name-container">
                <h2 class="card-name">{{ block.settings.card_name }}</h2>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  {%- endfor -%}
  </div>
</div>

{% schema %}
  {
    "name": "Custom Card Grid",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "range",
        "id": "cards_to_show",
        "min": 2,
        "max": 12,
        "step": 1,
        "default": 4,
        "label": "cards to show"
      }
    ],
    "blocks": [
      {
        "name": "Card",
        "type": "card",
        "settings": [
          {
            "type": "image_picker",
            "id": "card_image",
            "label": "Card Image"
          }, {
            "type": "text",
            "id": "card_name",
            "default": "Player",
            "label": "Card Name"
          }, {
            "type": "url",
            "id": "card_link",
            "label": "Card Url"
          }
        ]
      }

    ],
    "presets": [
      {
        "name": "Custom Card Grid",
        "blocks": [
          {
            "type": "card"
          }
        ]
      }
    ]
  }
{% endschema %}
