{{ 'custom-banner-slider.css' | asset_url | stylesheet_tag }}


<div class="custom-banner-slider color-{{ section.settings.color_scheme }}" style="background-image:url({{ section.settings.background_image | image_url }})">
  <img src="{{ section.settings.background_logo | image_url }}" class="background-logo"/>
  <img src="{{ section.settings.background_team | image_url }}" class="background-team">
  <div class="page-title-container">
    <h2 class="page-title-second">{{ section.settings.heading }}</h2>
    <h1 class="page-title">{{ section.settings.heading }}</h1>
  </div>
  <!-- Slider main container -->
  <div class="swiper-wrapper">
    <div class="swiper custom-banner-slider-swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        {%- for block in section.blocks -%}
          <div class="swiper-slide">
            <div class="swiper-slide-content">
<!--               <a href="{{ block.settings.link }}"> -->
                <div class="bg-overlay"></div>
                <img src="{{ block.settings.image | image_url }}" class="swiper-slide-img" />
                <div class="swiper-slide-title-container">
                  <h2 class="swiper-slide-title-second">{{ block.settings.heading }}</h2>
                  <h2 class="swiper-slide-title">{{ block.settings.heading }}</h2>
                </div>
<!--               </a> -->
            </div>
          </div>
        {%- endfor -%}
      </div>
  
      <div class="swiper-navigation-buttons">
        <div class="swiper-custom-button-prev">
          <img
            src="https://cdn.shopify.com/s/files/1/0662/0571/2618/files/fill-arrow-right.svg?v=1671484195"
            class="arrow-enabled"
            style="display:none;">
          <img
            src="https://cdn.shopify.com/s/files/1/0662/0571/2618/files/outline-arrow-right.svg?v=1671484195"
            class="arrow-disabled"
            style="display:block">
        </div>
        <div class="swiper-custom-button-next">
          <img src="https://cdn.shopify.com/s/files/1/0662/0571/2618/files/fill-arrow-right.svg?v=1671484195" class="arrow-enabled">
          <img src="https://cdn.shopify.com/s/files/1/0662/0571/2618/files/outline-arrow-right.svg?v=1671484195" class="arrow-disabled">
        </div>
      </div>

      
      <div class="swiper-pagination"></div>
  </div>

</div>

{% schema %}
  {
    "name": "Custom Banner Slide",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "range",
        "id": "cards_to_show",
        "min": 2,
        "max": 12,
        "step": 1,
        "default": 4,
        "label": "cards to show"
      },
      {
        "type": "text",
        "id": "heading",
        "default": "title",
        "label": "Title"
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Banner Image"
      },
      {
        "type": "image_picker",
        "id": "background_logo",
        "label": "Banner logo"
      },
      {
        "type": "image_picker",
        "id": "background_team",
        "label": "Banner team"
      }
    ],
    "blocks": [
      {
        "name": "Slide",
        "type": "slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }, {
            "type": "text",
            "id": "heading",
            "default": "Slide title",
            "label": "Slide Title"
          }, {
            "type": "url",
            "id": "link",
            "label": "Slide Url"
          }
        ]
      }

    ],
    "presets": [
      {
        "name": "Custom Banner Slide",
        "blocks": [
          {
            "type": "slide"
          }
        ]
      }
    ]
  }
{% endschema %}

<script>
  $(document).ready(function() {
    const swiper = new Swiper('.swiper.custom-banner-slider-swiper', {
      slidesPerView: 'auto',
      spaceBetween: 20,
      loop: false,
      rtl: true,
      pagination: {
        el: '.swiper-pagination'
      },
      navigation: {
        nextEl: '.custom-banner-slider .swiper-custom-button-next',
        prevEl: '.custom-banner-slider .swiper-custom-button-prev'
      },
      breakpoints: {
        750: {
          spaceBetween: 50,
        }
      }
    })

     swiper.on('slideChange', function() {
        console.log('slide changed');
        $('.custom-banner-slider .swiper-navigation-buttons')
          .find('.arrow-enabled')
          .css({'display': 'block'})
          $('.custom-banner-slider .swiper-navigation-buttons')
          .find('.arrow-disabled')
          .css({'display': 'none'})
        $('.custom-banner-slider .swiper-button-disabled')
        .find('.arrow-enabled')
        .css({'display': 'none'})
      $('.custom-banner-slider .swiper-button-disabled')
      .find('.arrow-disabled')
      .css({'display': 'block'})
    });

  
  })
</script>