{% if collection.handle != 'all' %}
{{ 'custom-hero-banner.css' | asset_url | stylesheet_tag }}
<div class="custom-hero-banner">
  <div class="banner-bg" style="background-image:url({% if collection.metafields.custom.hero_bg != '' %}{{ collection.metafields.custom.hero_bg  | image_url }}{% else %}'https://cdn.shopify.com/s/files/1/0662/0571/2618/collections/image_3.png?v=1675469525'{% endif %})"></div>
  <div class="banner-bg-overlay"></div>
  <div class="row page-width">
    <div class="col first-column">
      <div class="product-title-container">
        <h2 class="product-title product-title-outline">
          {{ collection.metafields.custom.hero_product.value.title }}
        </h2>
        <h2 class="product-title">
          {{ collection.metafields.custom.hero_product.value.title }}
        </h2>
      </div>
      <p class="description">
        {{ collection.metafields.custom.hero_description }}
      </p>
      <h3 class="price">
        {{ collection.metafields.custom.hero_product.value.price | money_with_currency }}
      </h3>
      <a href="{{ collection.metafields.custom.hero_product.url }}" class="btn btn-a">{{ collection.metafields.custom.hero_button }}</a>
    </div>
    <div class="col second-column">
      <div class="product-img-container">
        <img src="{{ collection.metafields.custom.hero_image | image_url }}" class="product-img"/>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% schema %}
  {
    "name": "Custom Hero Banner",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "bg_image",
        "label": "Background Image"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Product Title"
      },
      {
        "type": "textarea",
        "id": "description",
        "label": "Description"
      },
      {
        "type": "text",
        "id": "price",
        "label": "Price"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      },
      {
        "type": "image_picker",
        "id": "product_image",
        "label": "Product Image"
      }
    ],
    "presets": [
      {
        "name": "Custom Hero Banner"
      }
    ]
  }
{% endschema %}
